.App {
    text-align: center;
    user-select: none;
}

/** {*/
/*    background-color: #F9FAFC;*/
/*    color: black;*/
/*}*/

.test-results {
    position: absolute;
    left: 61%;
    top: 22%;
    height: 77%;
    width: 38.5%;
    font-size: 20px;
    overflow-y: scroll;
}

.integrations {
    position: absolute;
    left: 61%;
    top: 1%;
    height: 20%;
    width: 13%;
    font-size: 20px;
}

.auth-input {
    position: absolute;
    left: 21.5%;
    top: 73%;
    width: 9%;
    height: 26%;
    font-size: 20px
}

.env-input {
    position: absolute;
    left: 74.5%;
    top: 1%;
    width: 25%;
    height: 20%;
    font-size: 20px;
}

.documentation {
    position: absolute;
    left: 31%;
    top: 73%;
    width: 28%;
    height: 26%;
    font-size: 16px;
    overflow-y: scroll;
}

.log {
    position: absolute;
    left: 1%;
    top: 73%;
    width: 20%;
    height: 26%;
    font-size: 16px;
    overflow-y: scroll;
}

.title {
    margin-left: 10px
}

.log-demo {
    background-color: black;
}

.log-info {
    color: white
}

.log-debug {
    color: green;
}

.log-warning {
    color: yellow
}

.log-error {
    color: red
}