.root {
	user-select: none;
	color: white;
}

.vertical-split {
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
}

.left {
	left: 0;
}

/* Control the right side */
.right {
	right: 0;
	height: 100%;
	background-color: #1e1e1e;
}

.top {
	top: 0;
	height: 50%;
	left: 50%;
}

.bottom {
	bottom: 0;
	height: 50%;
	left: 50%;
}

/* If you want the content centered horizontally and vertically */

.gauge {
	margin: auto;
	width: 50%;
	padding: 10px;
}

.log-demo {
	background-color: black;
}

.log-info {
	color: white;
}

.log-debug {
	color: green;
}

.log-warning {
	color: yellow;
}

.log-error {
	color: red;
}
